body {
    background-color:gray;
}
#canvasBackground{
  height: 90%;
  width: 85%;
  position: absolute;
  margin-left: 100px;
  background-image: url("backgroundStars.png");
  border-radius: 15px 50px;
  z-index: -1;
}
#ship{
  width: 10%;
  height: 10%;
  margin-left: 6%;
}
